 <!-- Skills Section -->
    <section class="success" id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>Graphic</h3>
                    <p>Photoshop, Illustrator, InDesign, QuarkXPress</p>
                    <h3>Programming</h3>
                    <p>HTML, CSS, JavaScript, jQuery, SVG&nbsp;animation, AmCharts, React</p>
                </div>
                <div class="col-lg-4">
                    <h3>Animation</h3>
                    <p>Animate, Google Web Designer</p>
                </div>
                <div class="col-lg-4">
                    <h3>Audio</h3>
                    <p>Cool Edit, Audition, Audacity</p>
                </div>
                <div class="col-lg-4">
                    <h3>3D</h3>
                    <p>3ds Max</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://wyrax.github.io/cv/pdf/cv2021.pdf" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
